*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    }


.container 
{  height: 100vh;
   background-color: rgb(255, 145, 0);
   width: auto;
}

main
{
    width: 100%;
    background-color: rgb(255, 19, 19);
    height: calc(100% - 100px);
    display: flex;
}

.sidebar {
width: 15%;
background-color: gray;
height: calc(100%);
display: flex;
flex-direction: column;
justify-content: space-between;
}

.top-nav {
    min-width: 100%;
    background-color: goldenrod;
}

.bottom-nav {
    width: 100%;
    background-color: gold;
}

.div-Songs {
width: 90%;
background-color: blue;
overflow: auto;

}

.call-to-action{
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: right;
}

.active {
border-left: 3px solid greenyellow;
}


a.btn {
color: white;
border: 1px solid white;
padding: 15px 50px;
font-size: 1.1rem;
border-radius: 50px;
line-height: 100px;
text-decoration: none;}


.nav-logo-mobile {
    display: none;
    text-align: center;
    padding: 5px;}

.covers {
background-color: rgb(4, 4, 138);
width: 95%;
margin: 0 auto;
}

#recently-played {
    background-color: yellow;
}

.menu-list {
    display: flex;
    flex-direction: row;
}
.container-cover img {
    max-width: 70%;
}

footer {
width: 100%;
height: 100px;
background-color: rgb(255, 0, 0);
z-index: 1;
position: relative;
display: flex;
justify-content: space-around;
}

.element-footer
{
padding: 35px;
}

@media screen and (max-width: 1100px)
 {

.menu-list {
    display: flex;
flex-wrap: wrap;}

li {
flex-basis: 25%;}
}

@media screen and (max-width: 768px)
{

    li {
        flex-basis: 50%;}
        }

